
.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(88px);
  line-height: 1.2;
  font-weight: 900;
}

@media (max-width: 900px) {
  .title {
    font-size: rem(44px);
  }
}